[part="checkbox"] {
	box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}

:host(.ds-readonly) [part="label"]:not([empty]) {
	color: var(--lumo-body-text-color);
}

:host(.ds-red-label) [part="label"]:not([empty]) {
    color: red;
}