/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: border-only style for all Vaadin textfields . */
[part="input-field"] {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}

:host([readonly]) [part="input-field"]::after {
    border-style: none;
    border-width: 0px;
    border-color: white;
    background-color: var(--lumo-contrast-10pct);
}

:host(.ds-footer) [part="input-field"] {
	box-shadow: inset 0 0 0 1px transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: transparent;
}

:host(.ds-red-label) [part="label"] {
    color: red;
}