[part="input-field"] {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}

:host([readonly]) [part="input-field"] {
	border: none;
	background-color: var(--lumo-contrast-10pct);
}

:host(.ds-notification) [part="input-field"] {
	color: white;
}

